@charset "UTF-8";

/* flat UI colors
cloud #ecf0f1
silver #bdc3c7
alizarin #e74c3c
pomegranate #c0392b
midnightblue #2c3e50
wet asphalt #34495e
amethyst #9b59b6
wisteria #8e44ad
concrete #95a5a6
abestos #7f8c8d
peter river #3498db
belize hile #2980b9
*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #34495e;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border-top: 5px solid #3498db;
}

.site {
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
  font-size: 1.5em;
}

.navinfos {
  text-align: center;
}

hr {
  background-color: #bdc3c7;
  height: 1px;
  border: 0 none;
}

h1, h2, h3 {
  color: #34495e;
  font-weight: 300;
}

.author {
  color: #2c3e50;
  font-size: 1.5em;
}

a, a:link {
  text-decoration: none;
  color: #3498db;
}

a:visited,
a:hover,
a:active {
  text-decoration: underline;
  color: #2980b9;
}

p {
  line-height: 1.5em;
}

dd {
  margin: .5em 2em 1em;
}

ul {
  list-style-type: circle;
}

li > p {
  margin: 0;
}

blockquote {
  color: #7f8c8d;
  font-style: italic;
}

pre {
  white-space: pre-wrap;       /* Chrome & Safari */
  white-space: -moz-pre-wrap;  /* Mozilla since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  padding: .5em;

  color: #2c3e50;
  background-color: #ecf0f1;
}

code, pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 15px;
}
code {
  padding: 2px 4px;
  color: #8e44ad;
}

pre code {
  background: transparent;
}

img {
  max-width: 100%;
}

.code-container {
  position: relative;
}

.langspec {
  text-align: right;
  text-transform: lowercase;
  background: white;
  border-radius: 3px;
  padding: .25em;
  font-size: .55em;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}

.disabled {
  color: #bdc3c7;
}

footer {
  font-size: .8em;
}

.special-links a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .special-links a {
    font-size: 48px;
  }
}

/*
 * IconMoon icon set
 */

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?7bxcjh');
  src:url('fonts/icomoon.eot?#iefix7bxcjh') format('embedded-opentype'),
    url('fonts/icomoon.woff?7bxcjh') format('woff'),
    url('fonts/icomoon.ttf?7bxcjh') format('truetype'),
    url('fonts/icomoon.svg?7bxcjh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feed:before {
  content: "\e600";
}
.icon-github:before {
  content: "\e601";
}
.icon-linkedin:before {
  content: "\e602";
}
